{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8 col-lg-6 col-xl-4 p-5 rounded shadow-lg" id="change-password-form">

        <h1 class="fw-light text-primary text-center">Alteração de senha</h1>
        <h2 class="mb-3 font-sm fs-3 fw-semibold text-center">Preencha os campos e altere sua senha.</h2>

        <form hx-post="{{ url_for('change_password') }}" hx-target="#main-content" @htmx:after-request="htmx.trigger('#nav','load-nav')">
        
            <div class="form-floating mb-3">
                <input class="form-control" type="password" name="password" id="password" placeholder="password">
                <label for="password">Senha atual</label>
            </div>

            <div class="form-floating mb-3">
                <input class="form-control" type="password" name="new_password" id="new_password" placeholder="newpassword">
                <label for="new_password">Nova senha</label>
            </div>

            <div class="form-floating mb-3">
                <input class="form-control" type="password" name="password_confirm" id="password_confirm" placeholder="passwordconfirm">
                <label for="password_confirm">Repita a senha</label>
            </div>
        
            <button type="submit" class="btn btn-primary mb-3 w-100">Enviar</button>
        
        </form>

    </div>    
</div>
{% endblock %}