{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8 col-lg-6 col-xl-4 p-5 rounded shadow-lg" id="delete-account-form">

        <h1 class="fw-light text-primary text-center">Remoção de conta</h1>
        <h2 class="mb-3 font-sm fs-3 fw-semibold text-center">Aceite os termos para remover sua conta.</h2>

        <form hx-post="{{ url_for('delete_account') }}" hx-target="#delete-account-form">

            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="confirm_delete_account"
                    name="confirm_delete_account">
                <label class="form-check-label" for="confirm_delete_account">Estou ciente que minha conta será <strong>removida
                    permanentemente</strong> e sem possibilidade de recuperar posteriormente.</label>
            </div>

            <button type="submit" class="btn btn-primary mb-3 w-100">Enviar</button>

        </form>

    </div>
</div>
{% endblock %}